aenum==2.1.2
Babel==2.6.0
certifi==2017.1.23
cffi==1.9.1
cryptography==1.7.2
dbf==0.98.0
Django==2.1.9
django-bootstrap3==11.0.0
django-form-utils==1.0.3
django-formset-js==0.5.0
django-jquery==3.1.0
django-jquery-js==3.1.1
django-passwords==0.3.12
django-phonenumber-field==2.3.1
django-registration==3.1.2
django-tables2==2.0.6
djangosecure==0.0.11
idna==2.8
matplotlib==3.0.3
numpy==1.16.2
olefile==0.46
phonenumbers==8.10.9
PIL==1.1.7
Pillow==5.4.1
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
pywin32==223
reportlab==3.5.28
requests==2.22.0
sciencebasepy==1.6.3
scipy==2.3.2
six==1.10.0
urllib3==1.24
xlrd==1.2.0
XlsxWriter==1.1.5