<!DOCTYPE html>
{% extends "welcome/base.html" %}
{% load staticfiles %}
{% load i18n %}

<base target="_parent" />

{% block breadcrumbs %}{% endblock %}
{% block head_css_page %}
<link href="{% static 'ced_main/Styles/sgcestyle.css' %}"  rel="stylesheet" type="text/css" media="screen" />
{% endblock head_css_page %}

{% block title %}Marked For Deletion{% endblock title %}

{% block content %}
<body>
	<div id="mrkfdel">
		<h3>Your effort has been marked for deletion </h3>
	    <p>An email has been sent to your approving official to confirm this effort should be deleted. </p>
	    <p>Note: If you are your own approving official, no email will be sent. <br>Approving officials, to permanently delete an effort enter the effort of interest and select “Approve”.  <br>Your request will be emailed to an administrator for consideration.</p>

	</div>
</body>
{% endblock %}